In [8]:
#QUESTION 1


import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [9]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [10]:
url = 'https://www.naukri.com/'
driver.get(url)

In [11]:
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [12]:
search_job = driver.find_element(By.CLASS_NAME, "suggestor-input")
search_job

In [13]:
search_job.send_keys("Data Scientist")

In [14]:
search_locn = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [15]:
search_locn.send_keys("Banglore")

In [16]:
search_btn = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [17]:
search_btn.click()

In [18]:
title_tags = driver.find_elements(By.XPATH, "//a[@class = 'title fw500 ellipsis']")
len(title_tags)

20

In [19]:
whole_title = []
for i in title_tags:
    whole_title.append(i.text)
whole_title

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist- Assistant Manager/Manager',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist']

In [20]:
company_names = driver.find_elements(By.XPATH, "//a[@class = 'subTitle ellipsis fleft']")
len(company_names)

20

In [21]:
company_name = []
for c in company_names:
    company_name.append(c.text)
len(company_name)

20

In [22]:
company_name

['Fractal Analytics',
 'Wipro',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Paytm',
 'Schneider Electric',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'Genpact',
 'EYGBS',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro']

In [23]:
experience_req = driver.find_elements(By.XPATH, "//li[@class = 'fleft grey-text br2 placeHolderLi experience']")
len(experience_req)

20

In [24]:
experience = []

for e in experience_req:
    experience.append(e.text)
len(experience)

20

In [25]:
experience

['3-8 Yrs',
 '11-21 Yrs',
 '10-16 Yrs',
 '4-7 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '7-10 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '5-9 Yrs',
 '9-13 Yrs',
 '1-4 Yrs',
 '4-8 Yrs',
 '10-17 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '7-12 Yrs',
 '9-14 Yrs']

In [26]:
location = driver.find_elements(By.XPATH, "//li[@class = 'fleft grey-text br2 placeHolderLi location']") 
len(location)

20

In [27]:
locations = []
for l in location:
    locations.append(l.text)
locations

['Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)']

In [29]:
jobs = pd.DataFrame({'JOB TITLE':whole_title, 'COMPANY NAME': company_name, 'LOCATION':locations, 'EXPERIENCE':experience})

In [30]:
top10_jobs = jobs.head(10)

In [34]:
top10_jobs

,JOB TITLE,COMPANY NAME,LOCATION,EXPERIENCE
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",3-8 Yrs
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",11-21 Yrs
2,Dataiku Consultant,Wipro,"Pune, Chennai, Bangalore/Bengaluru",10-16 Yrs
3,Data Scientist,Applied Materials,Bangalore/Bengaluru,4-7 Yrs
4,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru,6-10 Yrs
5,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru,2-7 Yrs
6,Research Scientist,IBM,Bangalore/Bengaluru,3-7 Yrs
7,Data Science - Senior Data Scientist - Analytics,Paytm,"Noida, Bangalore/Bengaluru",3-5 Yrs
8,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru,7-10 Yrs
9,Research and Development -AI/ML -(PhD ),EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",4-8 Yrs

In [ ]:
#QUESTION 2:

In [56]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [57]:
url = 'https://www.naukri.com/'
driver.get(url)

In [58]:
search_job = driver.find_element(By.CLASS_NAME, "suggestor-input")
search_job

In [59]:
search_job.send_keys("Data Analyst")

In [60]:
search_locn = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [61]:
search_locn.send_keys("Banglore")

In [62]:
search_btn = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [63]:
search_btn.click()

In [65]:
title = driver.find_elements(By.XPATH, "//a[@class = 'title fw500 ellipsis']")
len(title)

20

In [66]:
whole_title = []
for i in title:
    whole_title.append(i.text)
whole_title

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Happay - Data Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Financial Data Analyst - FIG',
 'Lead Financial Data Analyst',
 'Financial Data Analyst - FIG',
 'Software Technical Expert - Data Analyst']

In [67]:
company = driver.find_elements(By.XPATH, "//a[@class = 'subTitle ellipsis fleft']")
len(company)

20

In [68]:
company_name = []
for c in company:
    company_name.append(c.text)
len(company_name)

20

In [69]:
company_name

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Flipkart',
 'Wells Fargo',
 'Happay-Expense Management Solution for Businesses',
 'Kititan Co., Ltd',
 'Artech infosystem',
 "Moody's",
 "Moody's",
 "Moody's",
 'Schneider Electric']

In [70]:
experience_req = driver.find_elements(By.XPATH, "//li[@class = 'fleft grey-text br2 placeHolderLi experience']")
len(experience_req)

20

In [71]:
experience = []

for e in experience_req:
    experience.append(e.text)
len(experience)

20

In [72]:
experience

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '3-6 Yrs',
 '4-7 Yrs',
 '1-2 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '3-6 Yrs']

In [62]:
location = driver.find_elements(By.XPATH, "//li[@class = 'fleft grey-text br2 placeHolderLi location']") 
len(location)

20

In [63]:
locations = []
for l in location:
    locations.append(l.text)
locations

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore Rural, Bangalore/Bengaluru(Varthur Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

In [74]:
jobs2 = pd.DataFrame({'JOB TITLE':whole_title, 'COMPANY NAME': company_name, 'LOCATION':locations, 'EXPERIENCE':experience})

In [76]:
jobs2 = jobs2.head(10)
jobs2

,JOB TITLE,COMPANY NAME,LOCATION,EXPERIENCE
0,Sr.Business Data Analyst,Collabera,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",6-11 Yrs
1,Sr Data Analyst,Thomson Reuters,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",5-8 Yrs
2,Senior Data Analysis Analyst,Capco,"Pune, Chennai, Bangalore/Bengaluru",7-12 Yrs
3,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,Bangalore/Bengaluru,0-2 Yrs
4,Data Analyst,Thomson Reuters,Bangalore/Bengaluru,2-3 Yrs
5,Senior Data Analyst,KrazyBee,Bangalore/Bengaluru,3-6 Yrs
6,Associate Data Analyst,Optum,Bangalore/Bengaluru,2-7 Yrs
7,Associate Data Analyst,Optum,"Noida, Bangalore/Bengaluru",1-4 Yrs
8,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru,3-6 Yrs
9,Financial Data Analyst,Nuance India,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",3-8 Yrs

In [ ]:
# QUESTION 3

In [78]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [79]:
url = 'https://www.naukri.com/'
driver.get(url)

In [80]:
search_job = driver.find_element(By.CLASS_NAME, "suggestor-input")
search_job

In [81]:
search_job.send_keys("Data Scientist")

In [82]:
search_btn = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [83]:
search_btn.click()

In [84]:
search_locn = driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
search_locn

In [85]:
search_locn.click()

In [87]:
salary = driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")

In [88]:
salary.click()

In [89]:
title = driver.find_elements(By.XPATH, "//a[@class = 'title fw500 ellipsis']")
len(title)

20

In [90]:
whole_title = []
for i in title:
    whole_title.append(i.text)
whole_title

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Engine Algorithm',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Internet Jobs - II',
 'Data Science',
 'Data Science',
 'Data Scientist',
 'Machine Learning Seniors',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Dot Net Developer']

In [91]:
company = driver.find_elements(By.XPATH, "//a[@class = 'subTitle ellipsis fleft']")
len(company)

20

In [92]:
company_name = []
for c in company:
    company_name.append(c.text)
len(company_name)

20

In [93]:
company_name

['Boston Consulting Group',
 'Black Turtle',
 'EXL',
 '8KMiles Software Services',
 '8KMiles Software Services',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Primo Hiring',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Sydata Consulting India Pvt Ltd',
 'Jobs Territory',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Kellton Tech Solutions',
 'Walking Tree Consultancy Services pvt Ltd',
 'Shriram Automall',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Nibha Infotech Private Limited']

In [94]:
experience_req = driver.find_elements(By.XPATH, "//li[@class = 'fleft grey-text br2 placeHolderLi experience']")
len(experience_req)

20

In [95]:
experience = []

for e in experience_req:
    experience.append(e.text)
len(experience)

20

In [96]:
experience

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [97]:
location = driver.find_elements(By.XPATH, "//li[@class = 'fleft grey-text br2 placeHolderLi location']") 
len(location)

20

In [98]:
locations = []
for l in location:
    locations.append(l.text)
locations

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, New Delhi',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram']

In [99]:
jobs3 = pd.DataFrame({'JOB TITLE':whole_title, 'COMPANY NAME': company_name, 'LOCATION':locations, 'EXPERIENCE':experience})

In [101]:
jobs3 = jobs3.head(10)
jobs3

,JOB TITLE,COMPANY NAME,LOCATION,EXPERIENCE
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
1,Senior Associate - Data Science,Black Turtle,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs
2,Data Scientist - Noida/Bangalore,EXL,"Noida, Bangalore/Bengaluru",5-10 Yrs
3,Data Scientist For Healthcare Product team,8KMiles Software Services,"Delhi / NCR, Chennai, Bangalore/Bengaluru",2-7 Yrs
4,Data Scientist For Healthcare Product team,8KMiles Software Services,"Delhi / NCR, Chennai, Bangalore/Bengaluru",2-7 Yrs
5,Data Scientist - Machine learning AI,Teq Analytics,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
7,Data Scientist - Engine Algorithm,Primo Hiring,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs
8,Knowledge/Data Scientist,BOLD Technology Systems,Delhi / NCR,3-6 Yrs
9,Data Scientist,Mount Talent Consulting Private Limited,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs

In [ ]:
#QUESTION 4

In [103]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [117]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [118]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [119]:
search_bar = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

In [120]:
search_bar.send_keys('Sunglasses')

In [123]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg/g/path[2]')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg/g/path[2]"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x003D6463+2188387]
	Ordinal0 [0x0036E461+1762401]
	Ordinal0 [0x00283D78+802168]
	Ordinal0 [0x002B1880+989312]
	Ordinal0 [0x002B1B1B+989979]
	Ordinal0 [0x002DE912+1173778]
	Ordinal0 [0x002CC824+1099812]
	Ordinal0 [0x002DCC22+1166370]
	Ordinal0 [0x002CC5F6+1099254]
	Ordinal0 [0x002A6BE0+945120]
	Ordinal0 [0x002A7AD6+948950]
	GetHandleVerifier [0x006771F2+2712546]
	GetHandleVerifier [0x0066886D+2652765]
	GetHandleVerifier [0x0046002A+520730]
	GetHandleVerifier [0x0045EE06+516086]
	Ordinal0 [0x0037468B+1787531]
	Ordinal0 [0x00378E88+1805960]
	Ordinal0 [0x00378F75+1806197]
	Ordinal0 [0x00381DF1+1842673]
	BaseThreadInitThunk [0x7649FA29+25]
	RtlGetAppContainerNamedObjectPath [0x771E7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x771E7A6E+238]

In [130]:
glass = driver.find_elements(By.XPATH, "//div[@class = '_2WkVRV']") 
len(glass)

40

In [131]:
glass_name = []
for g in glass:
    glass_name.append(g.text)
glass_name

['Singco India',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'Elligator',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SRPM',
 'SUNBEE',
 'povty',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Fastrack',
 'Arnette',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'john jacobs',
 'Lee Topper',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Sewell',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Mi',
 'NuVew',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'New Specs',
 'Sewell']

In [132]:
feature = driver.find_elements(By.XPATH, "//a[@class = 'IRpwTa']") 
len(feature)

40

In [133]:
glass_features = []
for i in feature:
    glass_features.append(i.text)
glass_features

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (46)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Polarized Butterfly Sunglasses (Free Size)']

In [134]:
price = driver.find_elements(By.XPATH, "//div[@class = '_30jeq3']") 
len(price)

40

In [135]:
glass_price = []
for p in price:
    glass_price.append(p.text)
glass_price

['598',
 '799',
 '177',
 '639',
 '264',
 '315',
 '283',
 '379',
 '224',
 '224',
 '259',
 '319',
 '195',
 '224',
 '639',
 '7,009',
 '359',
 '229',
 '306',
 '3,000',
 '299',
 '226',
 '246',
 '759',
 '303',
 '410',
 '719',
 '849',
 '279',
 '474',
 '265',
 '854',
 '331',
 '839',
 '291',
 '749',
 '1,039',
 '283',
 '299',
 '616']

In [136]:
discount = driver.find_elements(By.XPATH, "//div[@class = '_3Ay6Sb']") 
len(discount)

40

In [137]:
discounts = []
for d in discount:
    discounts.append(d.text)
discounts

['80% off',
 '60% off',
 '82% off',
 '20% off',
 '89% off',
 '87% off',
 '78% off',
 '81% off',
 '85% off',
 '82% off',
 '80% off',
 '68% off',
 '88% off',
 '85% off',
 '20% off',
 '10% off',
 '86% off',
 '82% off',
 '88% off',
 '50% off',
 '88% off',
 '85% off',
 '84% off',
 '62% off',
 '79% off',
 '84% off',
 '20% off',
 '57% off',
 '78% off',
 '76% off',
 '82% off',
 '57% off',
 '83% off',
 '30% off',
 '76% off',
 '62% off',
 '20% off',
 '78% off',
 '81% off',
 '69% off']

In [141]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [142]:
next_btn.click()

In [143]:
glass1 = driver.find_elements(By.XPATH, "//div[@class = '_2WkVRV']") 
len(glass)

40

In [144]:
glass_name1 = []
for g in glass1:
    glass_name1.append(g.text)
glass_name1

['New Specs',
 'Fastrack',
 'SRPM',
 'VINCENT CHASE',
 'Fastrack',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'GANSTA',
 'PIRASO',
 'Fastrack',
 'CRYSTAL CART',
 'povty',
 'DEIXELS',
 'PHENOMENAL',
 'kingsunglasses',
 'john jacobs',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'Rich Club',
 'kingsunglasses',
 'ROYAL SON',
 'Sewell',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Elligator',
 'Sewell',
 'SRPM',
 'New Specs',
 'Fastrack',
 'VINCENT CHASE',
 'Singco India',
 'AISLIN',
 'VINCENT CHASE',
 'ROYAL SON',
 'Singco India',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT']

In [145]:
feature1 = driver.find_elements(By.XPATH, "//a[@class = 'IRpwTa']") 
len(feature1)

40

In [146]:
glass_features1 = []
for i in feature1:
    glass_features1.append(i.text)
glass_features1

['Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (46)',
 'Mirrored Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Polarized Butterfly Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)']

In [147]:
price1 = driver.find_elements(By.XPATH, "//div[@class = '_30jeq3']") 
len(price1)

40

In [148]:
glass_price1 = []
for p in price1:
    glass_price1.append(p.text)
glass_price1

['299',
 '759',
 '249',
 '749',
 '759',
 '219',
 '379',
 '314',
 '246',
 '719',
 '529',
 '319',
 '236',
 '360',
 '194',
 '3,000',
 '379',
 '379',
 '379',
 '854',
 '265',
 '189',
 '379',
 '616',
 '899',
 '474',
 '379',
 '616',
 '233',
 '268',
 '719',
 '749',
 '598',
 '498',
 '949',
 '799',
 '664',
 '329',
 '269',
 '616']

In [149]:
discount1 = driver.find_elements(By.XPATH, "//div[@class = '_3Ay6Sb']") 
len(discount1)

40

In [150]:
discounts1 = []
for d in discount1:
    discounts1.append(d.text)
discounts1

['81% off',
 '15% off',
 '75% off',
 '62% off',
 '15% off',
 '78% off',
 '81% off',
 '84% off',
 '84% off',
 '20% off',
 '74% off',
 '68% off',
 '80% off',
 '81% off',
 '80% off',
 '50% off',
 '74% off',
 '74% off',
 '74% off',
 '57% off',
 '62% off',
 '85% off',
 '74% off',
 '69% off',
 '10% off',
 '78% off',
 '74% off',
 '69% off',
 '76% off',
 '79% off',
 '20% off',
 '62% off',
 '80% off',
 '67% off',
 '52% off',
 '60% off',
 '79% off',
 '79% off',
 '85% off',
 '75% off']

In [159]:
next_btn.click()

In [161]:
glass2 = driver.find_elements(By.XPATH, "//div[@class = '_2WkVRV']") 
len(glass2)

40

In [162]:
glass_name2 = []
for g in glass2:
    glass_name2.append(g.text)
glass_name2 = glass_name2[0:20]
len(glass_name2)

20

In [163]:
feature2 = driver.find_elements(By.XPATH, "//a[@class = 'IRpwTa']") 
len(feature2)

40

In [165]:
glass_features2 = []
for i in feature2:
    glass_features2.append(i.text)
glass_features2 = glass_features[0:20]
glass_features2

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (46)']

In [166]:
price2 = driver.find_elements(By.XPATH, "//div[@class = '_30jeq3']") 
len(price2)

40

In [167]:
glass_price2 = []
for p in price2:
    glass_price2.append(p.text)
glass_price2 = glass_price2[0:20]
glass_price2

['269',
 '265',
 '289',
 '598',
 '749',
 '949',
 '639',
 '379',
 '260',
 '379',
 '899',
 '319',
 '735',
 '749',
 '276',
 '649',
 '664',
 '324',
 '405',
 '7,009']

In [168]:
discount2 = driver.find_elements(By.XPATH, "//div[@class = '_3Ay6Sb']") 
len(discount2)

40

In [169]:
discounts2 = []
for d in discount2:
    discounts2.append(d.text)
discounts2 = discounts2[0:20]
discounts2

['82% off',
 '84% off',
 '85% off',
 '80% off',
 '70% off',
 '52% off',
 '20% off',
 '81% off',
 '67% off',
 '81% off',
 '10% off',
 '68% off',
 '8% off',
 '62% off',
 '88% off',
 '67% off',
 '66% off',
 '80% off',
 '84% off',
 '10% off']

In [138]:
top40 = pd.DataFrame({'Brand':glass_name, 'PRODUCT DESCRIPTION':glass_features, 'PRICE':glass_price, 'DISCOUNT':discounts})

In [139]:
top40

,Brand,PRODUCT DESCRIPTION,PRICE,DISCOUNT
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",598,80% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",799,60% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),639,20% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),264,89% off
5,Elligator,UV Protection Round Sunglasses (54),315,87% off
6,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",283,78% off
7,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),379,81% off
8,PIRASO,UV Protection Aviator Sunglasses (54),224,85% off
9,SRPM,UV Protection Wayfarer Sunglasses (50),224,82% off
10,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",259,80% off
11,povty,UV Protection Retro Square Sunglasses (Free Size),319,68% off
12,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",195,88% off
13,PIRASO,UV Protection Aviator Sunglasses (54),224,85% off
14,Fastrack,UV Protection Aviator Sunglasses (Free Size),639,20% off
15,Arnette,Others Retro Square Sunglasses (55),"7,009",10% off
16,PIRASO,UV Protection Aviator Sunglasses (58),359,86% off
17,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),229,82% off
18,PIRASO,UV Protection Rectangular Sunglasses (52),306,88% off
19,john jacobs,UV Protection Wayfarer Sunglasses (46),"3,000",50% off
20,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),299,88% off
21,PIRASO,UV Protection Wayfarer Sunglasses (32),226,85% off
22,PIRASO,UV Protection Aviator Sunglasses (54),246,84% off
23,ROYAL SON,"Polarized, UV Protection Wrap-around Sunglasse...",759,62% off
24,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),303,79% off
25,PIRASO,UV Protection Over-sized Sunglasses (65),410,84% off
26,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",719,20% off
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",849,57% off
28,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),279,78% off
29,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",474,76% off
30,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",265,82% off
31,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",854,57% off
32,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",331,83% off
33,Mi,Polarized Aviator Sunglasses (Free Size),839,30% off
34,NuVew,UV Protection Sports Sunglasses (62),291,76% off
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",749,62% off
36,Fastrack,UV Protection Aviator Sunglasses (58),"1,039",20% off
37,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",283,78% off
38,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",299,81% off
39,Sewell,Polarized Butterfly Sunglasses (Free Size),616,69% off

In [152]:
top80 = pd.DataFrame({'Brand':glass_name1, 'PRODUCT DESCRIPTION':glass_features1, 'PRICE':glass_price1, 'DISCOUNT':discounts1})

In [153]:
top80

,Brand,PRODUCT DESCRIPTION,PRICE,DISCOUNT
0,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",299,81% off
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),759,15% off
2,SRPM,UV Protection Wayfarer Sunglasses (53),249,75% off
3,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,749,62% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),759,15% off
5,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),219,78% off
6,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",379,81% off
7,GANSTA,UV Protection Aviator Sunglasses (57),314,84% off
8,PIRASO,UV Protection Aviator Sunglasses (55),246,84% off
9,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",719,20% off
10,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",529,74% off
11,povty,UV Protection Retro Square Sunglasses (Free Size),319,68% off
12,DEIXELS,UV Protection Aviator Sunglasses (Free Size),236,80% off
13,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),360,81% off
14,kingsunglasses,UV Protection Round Sunglasses (54),194,80% off
15,john jacobs,UV Protection Wayfarer Sunglasses (46),"3,000",50% off
16,ROYAL SON,Mirrored Aviator Sunglasses (58),379,74% off
17,ROYAL SON,Mirrored Aviator Sunglasses (55),379,74% off
18,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),379,74% off
19,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",854,57% off
20,Rich Club,UV Protection Retro Square Sunglasses (54),265,62% off
21,kingsunglasses,UV Protection Rectangular Sunglasses (55),189,85% off
22,ROYAL SON,Mirrored Aviator Sunglasses (55),379,74% off
23,Sewell,Polarized Butterfly Sunglasses (Free Size),616,69% off
24,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",899,10% off
25,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),474,78% off
26,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",379,74% off
27,Sewell,Polarized Butterfly Sunglasses (Free Size),616,69% off
28,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",233,76% off
29,New Specs,UV Protection Round Sunglasses (Free Size),268,79% off
30,Fastrack,UV Protection Shield Sunglasses (Free Size),719,20% off
31,VINCENT CHASE,by Lenskart UV Protection Rectangular Sunglass...,749,62% off
32,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",598,80% off
33,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",498,67% off
34,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",949,52% off
35,ROYAL SON,"Polarized, UV Protection Wrap-around Sunglasse...",799,60% off
36,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",664,79% off
37,kingsunglasses,UV Protection Round Sunglasses (Free Size),329,79% off
38,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",269,85% off
39,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),616,75% off

In [170]:
top100 = pd.DataFrame({'Brand':glass_name2, 'PRODUCT DESCRIPTION':glass_features2, 'PRICE':glass_price2, 'DISCOUNT':discounts2})

In [171]:
top100_details= pd.concat([top40, top80, top100])

In [172]:
top100_details.shape

(100, 4)

In [173]:
top100_details

,Brand,PRODUCT DESCRIPTION,PRICE,DISCOUNT
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",598,80% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",799,60% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),639,20% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),264,89% off
...,...,...,...,...
15,VINCENT CHASE,Others Retro Square Sunglasses (55),649,67% off
16,ROYAL SON,UV Protection Aviator Sunglasses (58),664,66% off
17,SHAAH COLLECTIONS,UV Protection Cat-eye Sunglasses (Free Size),324,80% off
18,PIRASO,UV Protection Rectangular Sunglasses (52),405,84% off
19,Arnette,UV Protection Wayfarer Sunglasses (46),"7,009",10% off

In [ ]:
#QUESTION 5

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [2]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [4]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url)

In [4]:
search_glass = driver.find_element(By.CLASS_NAME, "_3704LK")
search_glass

In [5]:
search_glass.send_keys('iphone 11')

In [150]:
srch_btn = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg/g/path[2]")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button/svg/g/path[2]"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00566463+2188387]
	Ordinal0 [0x004FE461+1762401]
	Ordinal0 [0x00413D78+802168]
	Ordinal0 [0x00441880+989312]
	Ordinal0 [0x00441B1B+989979]
	Ordinal0 [0x0046E912+1173778]
	Ordinal0 [0x0045C824+1099812]
	Ordinal0 [0x0046CC22+1166370]
	Ordinal0 [0x0045C5F6+1099254]
	Ordinal0 [0x00436BE0+945120]
	Ordinal0 [0x00437AD6+948950]
	GetHandleVerifier [0x008071F2+2712546]
	GetHandleVerifier [0x007F886D+2652765]
	GetHandleVerifier [0x005F002A+520730]
	GetHandleVerifier [0x005EEE06+516086]
	Ordinal0 [0x0050468B+1787531]
	Ordinal0 [0x00508E88+1805960]
	Ordinal0 [0x00508F75+1806197]
	Ordinal0 [0x00511DF1+1842673]
	BaseThreadInitThunk [0x7649FA29+25]
	RtlGetAppContainerNamedObjectPath [0x771E7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x771E7A6E+238]

In [5]:
review = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

In [6]:
len(review)

10

In [7]:
revi = []
for r in review:
    revi.append(r.text)
revi

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended']

In [8]:
review_summary = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

In [9]:
len(review_summary)

10

In [10]:
review_sum = []
for r in review_summary:
    review_sum.append(r.text)
review_sum

['Really satisfied with the Product I received... Its totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd its just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display its somewhere between 720-1080 and its not even an amoled its an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nIm am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nIve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far its been an AMAZING experience coming back to iOS after nearly a decade but its not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [132]:
rate = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

In [133]:
len(rate)

10

In [134]:
rating = []
for r in rate:
    rating.append(r.text)
rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [14]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")

In [15]:
next_btn.click()

In [18]:
review_2 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review2 = []
for r in review_2:
    review2.append(r.text)
print(len(review2))
review2

10

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Worth every penny',
 'Simply awesome',
 'Wonderful']

In [20]:
review_summary2 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum2 = []
for r in review_summary2:
    review_sum2.append(r.text)
print(len(review_sum2))
review_sum2

10

["It's my first time to use iOS phone and I am loving my upgradation  I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.",
 'Its a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise its amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Really worth of money. i just love it. It is the best phone ever.',
 'Best budget Iphone till date  go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, youll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy \n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. Its worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is its camera and its battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And cant forget to mention Flipkart service. Very prompt service and fast delivery.']

In [135]:
rate2 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating2 = []
for r in rate2:
    rating2.append(r.text)
print(len(rating2))

10

In [25]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")

In [26]:
next_btn.click()

In [136]:
#top 10 review data from page 3
review_3 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review3 = []
for r in review_3:
    review3.append(r.text)
print(len(review3))
review3


review_summary3 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum3 = []
for r in review_summary3:
    review_sum3.append(r.text)
print(len(review_sum3))
review_sum3


rate3 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating3 = []
for r in rate3:
    rating3.append(r.text)
print(len(rating3))

10
10
10

In [36]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_btn.click()

In [137]:
#top 10 review data from page 4

review_4 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review4 = []
for r in review_4:
    review4.append(r.text)
print(len(review4))
review4


review_summary4 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum4 = []
for r in review_summary4:
    review_sum4.append(r.text)
print(len(review_sum4))
review_sum4


rate4 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating4 = []
for r in rate4:
    rating4.append(r.text)
print(len(rating4))

10
10
10

In [39]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_btn.click()

In [138]:
#top 10 review data from page 5
review_5 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review5 = []
for r in review_5:
    review5.append(r.text)
print(len(review5))
review5


review_summary5 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum5 = []
for r in review_summary5:
    review_sum5.append(r.text)
print(len(review_sum5))
review_sum5


rate5 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating5 = []
for r in rate5:
    rating5.append(r.text)
print(len(rating5))

10
10
10

In [41]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_btn.click()

In [139]:
#top 10 review data from page 6
review_6 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review6 = []
for r in review_6:
    review6.append(r.text)
print(len(review6))
review6


review_summary6 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum6 = []
for r in review_summary6:
    review_sum6.append(r.text)
print(len(review_sum6))
review_sum6


rate6 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating6 = []
for r in rate6:
    rating6.append(r.text)
print(len(rating6))

10
10
10

In [43]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span").click()

In [140]:
#top 10 review data from page 7
review_7 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review7 = []
for r in review_7:
    review7.append(r.text)
print(len(review7))
review7


review_summary7 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum7 = []
for r in review_summary7:
    review_sum7.append(r.text)
print(len(review_sum7))
review_sum7


rate7 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating7 = []
for r in rate7:
    rating7.append(r.text)
print(len(rating7))

10
10
10

In [48]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span").click()

In [141]:
#top 10 review data from page 8
review_8 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review8 = []
for r in review_8:
    review8.append(r.text)
print(len(review8))
review8


review_summary8 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum8 = []
for r in review_summary8:
    review_sum8.append(r.text)
print(len(review_sum8))
review_sum8


rate8 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating8 = []
for r in rate8:
    rating8.append(r.text)
print(len(rating8))

10
10
10

In [50]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span").click()

In [142]:
#top 10 review data from page 9
review_9 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review9 = []
for r in review_9:
    review9.append(r.text)
print(len(review9))
review9


review_summary9 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum9 = []
for r in review_summary9:
    review_sum9.append(r.text)
print(len(review_sum9))
review_sum9


rate9 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating9 = []
for r in rate9:
    rating9.append(r.text)
print(len(rating))

10
10
10

In [52]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span").click()

In [143]:
#top 10 review data from page 10
review_10 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

review10 = []
for r in review_10:
    review10.append(r.text)
print(len(review10))
review10


review_summary10 = driver.find_elements(By.XPATH, "//div[@class = 't-ZTKy']")

review_sum10 = []
for r in review_summary10:
    review_sum10.append(r.text)
print(len(review_sum10))
review_sum10


rate10 = driver.find_elements(By.XPATH, "//div[@class = '_3LWZlK _1BLPMq']")

rating10 = []
for r in rate10:
    rating10.append(r.text)
print(len(rating))

10
10
10

In [144]:
r = rating + rating2 + rating3 + rating4 + rating5 + rating6 + rating7 + rating8 + rating9 + rating10

In [145]:
len(r)

100

In [75]:
review_summaries = review_sum + review_sum2 + review_sum3 + review_sum4 + review_sum5 + review_sum6 + review_sum7 + review_sum8 + review_sum9 + review_sum10

In [77]:
len(review_summaries)

100

In [100]:
a = (revi + review2 + review3 + review4 + review5 + review6 + review7 + review8 + review9 + review10)

In [101]:
len(a)

100

In [103]:
import pandas as pd

In [146]:
top100reviews = pd.DataFrame({'REVIEW TAG': a, 'REVIEW SUMMARY':review_summaries, 'RATING':r})

In [147]:
top100reviews

,REVIEW TAG,REVIEW SUMMARY,RATING
0,Simply awesome,Really satisfied with the Product I received.....,5
1,Perfect product!,Amazing phone with great cameras and better ba...,5
2,Best in the market!,Great iPhone very snappy experience as apple k...,5
3,Highly recommended,What a camera .....just awesome ..you can feel...,5
4,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
95,Super!,This is my first ever iPhone.\nAnd I truly don...,5
96,Wonderful,Nice value for money good and best price I pho...,5
97,Worth every penny,Undoubtedly Iphone 11 is the most successful m...,5
98,Best in the market!,Dont expect much from front camera especiall...,4
99,Fabulous!,I purchased the iPhone 11 a month back. I must...,5

In [149]:
top100reviews.shape

(100, 3)

In [ ]:
#QUESTION 6

In [16]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [17]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [18]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [19]:
search_glass = driver.find_element(By.CLASS_NAME, "_3704LK")
search_glass

In [20]:
search_glass.send_keys('sneakers')

In [25]:
brand = driver.find_elements(By.XPATH, "//div[@class = '_2WkVRV']")

In [26]:
len(brand)

40

In [27]:
brand1 = []
for b in brand:
    brand1.append(b.text)
brand1

['Wildcraft',
 'HOC',
 'WOODLAND',
 'BRUTON',
 'BRUTON',
 'Labbin',
 'URBANBOX',
 'FEWEYU',
 'Magnolia',
 'Chevit',
 'BIRDE',
 'U.S. POLO ASSN.',
 'aadi',
 'BIRDE',
 'ONECENTRE',
 'RapidBox',
 'PUMA',
 'PUMA',
 'SFR',
 'RapidBox',
 'KWIK FIT',
 'HOTSTYLE',
 'corsac',
 'corsac',
 'ASTEROID',
 'CLYMB',
 'BRUTON',
 'Echor',
 'BIRDE',
 'Kraasa',
 'SCATCHITE',
 'KNIGHT WALKERS',
 'Kraasa',
 'Layasa',
 'Kraasa',
 'U.S. POLO ASSN.',
 'BIRDE',
 'Kzaara',
 'PUMA',
 'HRX by Hrithik Roshan']

In [29]:
product = driver.find_elements(By.XPATH, "//a[@class = 'IRpwTa']")

In [30]:
len(product)

35

In [31]:
p_description = []
for p in product:
    p_description.append(p.text)
p_description

['True Black Shoe Sneakers For Men',
 'casual shoes for men Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men (Blac...',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'STR2 Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'STYLISH MENS WHITE AND RED TRENDY SNEAKER FOR MENS Snea...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Boomerang Stylish & Comfortable Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers Sneakers For Men',
 'SS1100 Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 'Sneakers For Men']

In [33]:
product_5 = driver.find_elements(By.XPATH, "//a[@class = 'IRpwTa _2-ICcC']")

In [34]:
len(product_5)

5

In [35]:
p_description_5 = []
for p in product_5:
    p_description_5.append(p.text)
p_description_5

['Sneakers Sneakers For Men',
 'Clarkin 2.0 Sneakers For Men',
 'Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'TREGGER 2.0 Sneakers For Men']

In [36]:
price = driver.find_elements(By.XPATH, "//div[@class = '_30jeq3']")

In [37]:
len(price)

40

In [38]:
price1 = []
for p in price:
    price1.append(p.text)
price1

['1,119',
 '474',
 '2,096',
 '269',
 '299',
 '499',
 '198',
 '499',
 '449',
 '649',
 '378',
 '1,949',
 '319',
 '335',
 '299',
 '610',
 '1,763',
 '2,099',
 '289',
 '630',
 '397',
 '258',
 '499',
 '529',
 '474',
 '579',
 '269',
 '599',
 '335',
 '479',
 '399',
 '699',
 '479',
 '499',
 '479',
 '2,989',
 '249',
 '254',
 '1,749',
 '2,182']

In [ ]:
top40 =

In [39]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [40]:
next_btn.click()

In [45]:
brand2 = driver.find_elements(By.XPATH, "//div[@class = '_2WkVRV']")

In [46]:
len(brand2)

40

In [47]:
brand22 = []
for b in brand2:
    brand22.append(b.text)
brand22

['D-SNEAKERZ',
 'Robbie jones',
 'BRUTON',
 'Wildcraft',
 'PUMA',
 'aadi',
 'Rzisbo',
 'FEWEYU',
 'BRUTON',
 'Noztile',
 'KNIGHT WALKERS',
 'U.S. POLO ASSN.',
 'Dizzler',
 'DUKE',
 'Magnolia',
 'RapidBox',
 'ASTEROID',
 'SPARX',
 'WHITE WALKERS',
 'RapidBox',
 'Numenzo',
 'AMICO',
 'aadi',
 'corsac',
 'Airland',
 'Shoes Bank',
 'Airland',
 'Echor',
 'Aragats',
 'Chevit',
 'Eiffel',
 'KNIGHT WALKERS',
 'Numenzo',
 'LE GREEM',
 'luxury fashion',
 'U.S. POLO ASSN.',
 'India hub',
 'BRUTON',
 'BIRDE',
 'HRX by Hrithik Roshan']

In [50]:
product2 = driver.find_elements(By.XPATH, "//a[@class = 'IRpwTa']")

In [51]:
len(product2)

34

In [52]:
p_description2 = []
for p in product2:
    p_description2.append(p.text)
p_description2

["Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'True Black Shoe Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men (Blac...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Sneakers For Men',
 'SS1100 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Men White Sneakers Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'STYLISH MENS WHITE AND RED TRENDY SNEAKER FOR MENS Snea...',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'sneaker men red 1258 - 8 Sneakers For Men',
 'Boomerang Stylish & Comfortable Sneakers For Men',
 'Casual Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'SS1100 Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men']

In [53]:
product_2d = driver.find_elements(By.XPATH, "//a[@class='IRpwTa _2-ICcC']")

In [54]:
len(product_2d)

6

In [55]:
p_description2d = []
for p in product_2d:
    p_description2d.append(p.text)
p_description2d

['Clarkin 2.0 Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Comfortable Sneakers For Men',
 'TREGGER 2.0 Sneakers For Men']

In [56]:
price2 = driver.find_elements(By.XPATH, "//div[@class = '_30jeq3']")

In [57]:
price22 = []
for p in price2:
    price22.append(p.text)
len(price22)

40

In [58]:
next_btn.click()

In [28]:
p_description = []
for p in product_description:
    p_description.append(p.text)
p_description

NameError: name 'product_description' is not defined

In [11]:
len(p_description)

36

In [12]:
next_btn = driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [13]:
next_btn.click()

In [62]:
brand3 = driver.find_elements(By.XPATH, "//div[@class = '_2WkVRV']")

In [64]:
brand33 = []
for b in brand3:
    brand33.append(b.text)
len(brand33)
brand33 = brand33[0:20]
len(brand33)

20

In [59]:
product3 = driver.find_elements(By.XPATH, "//a[@class = 'IRpwTa']")

In [65]:
product33 = []
for p in product3:
    product33.append(p.text)
len(product33)
product33 = product33[0:20]
len(product33)

20

In [61]:
product33

['Sneakers For Men',
 'True Black Shoe Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men (Blac...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish Party Wear Casual Sneakers Shoes For Men Sneake...',
 'Sneakers For Men',
 'Trinity Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'STYLISH MENS WHITE AND RED TRENDY SNEAKER FOR MENS Snea...',
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Sneakers For Men',
 'Boomerang Stylish & Comfortable Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Brave Sneakers For Men',
 'SS1100 Sneakers For Men',
 'R78 Sneakers For Men',
 'Blend Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'CLARKIN Sneakers For Men']

In [66]:
price3 = driver.find_elements(By.XPATH, "//div[@class = '_30jeq3']")

In [67]:
price33 = []
for p in price3:
    price33.append(p.text)
price33 = price33[0:20]
len(price33)

20

In [ ]:
#QUESTION 10

In [47]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [48]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [49]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [50]:
salaries = driver.find_element(By.XPATH, "/html/body/div[1]/nav/nav/a[4]")

In [51]:
salaries.click()

In [52]:
search_bar = driver.find_element(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_bar

In [53]:
search_bar.send_keys("Data Scientist")

In [54]:
search = driver.find_element(By.XPATH, "//button[@class='ab_btn search-btn round']")

In [55]:
search.click()

In [56]:
data_science = driver.find_element(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")

In [57]:
search_bar.send_keys(Keys.ENTER)

In [58]:
search_bar.click()

In [59]:
submit_btn = driver.find_element(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
submit_btn

In [15]:
min_salary = driver.find_elements(By.XPATH, "//div[@class = 'value body-medium']")

In [16]:
len(min_salary)

20

In [17]:
m_salary = []
for m in min_salary:
    m_salary.append(m.text)
minimum_salary = m_salary[0:20:2]
minimum_salary

[' 11.0L',
 ' 13.0L',
 ' 12.0L',
 ' 12.0L',
 ' 8.0L',
 ' 13.0L',
 ' 7.5L',
 ' 11.4L',
 ' 11.0L',
 ' 14.0L']

In [18]:
avg_salary = driver.find_elements(By.XPATH, "//p[@class = 'averageCtc']")

In [19]:
len(avg_salary)

10

In [20]:
a_salary = []
for a in avg_salary:
    a_salary.append(a.text)
a_salary

[' 31.3L',
 ' 24.0L',
 ' 23.0L',
 ' 21.2L',
 ' 21.0L',
 ' 20.5L',
 ' 20.4L',
 ' 20.0L',
 ' 19.9L',
 ' 19.5L']

In [21]:
max_salary = driver.find_elements(By.XPATH, "//div[@class = 'value body-medium']")

In [22]:
len(max_salary)

20

In [23]:
maximum_salary = m_salary[1:20:2]

In [24]:
maximum_salary

[' 65.0L',
 ' 50.0L',
 ' 34.0L',
 ' 33.0L',
 ' 45.0L',
 ' 28.0L',
 ' 31.0L',
 ' 32.5L',
 ' 31.0L',
 ' 27.0L']

In [25]:
avg_record = driver.find_elements(By.XPATH, "//span[@class = 'datapoints']")

In [26]:
len(avg_record)

10

In [27]:
average_record = []
for a in avg_record:
    average_record.append(a.text)
average_record

['(based on 35 salaries)',
 '(based on 274 salaries)',
 '(based on 18 salaries)',
 '(based on 35 salaries)',
 '(based on 122 salaries)',
 '(based on 60 salaries)',
 '(based on 64 salaries)',
 '(based on 87 salaries)',
 '(based on 29 salaries)',
 '(based on 10 salaries)']

In [28]:
company_name = driver.find_elements(By.XPATH, "//div[@class = 'company-info']")

In [29]:
len(company_name)

25

In [30]:
comp = []
for c in company_name:
    comp.append(c.text)
comp= comp[0:10]

In [32]:
comp

['Google\nSoftware Engineer Salary\n1-3 yrs experience (based on 35 salaries)',
 'Microsoft Corporation\nSoftware Engineer Salary\n1-4 yrs experience (based on 274 salaries)',
 'Goldman Sachs\nSoftware Engineer Salary\n2 yrs experience (based on 18 salaries)',
 'Tekion\nSoftware Engineer Salary\n2-4 yrs experience (based on 35 salaries)',
 'Amazon\nSoftware Engineer Salary\n1-4 yrs experience (based on 122 salaries)',
 'Servicenow Software Development India\nSoftware Engineer Salary\n2-4 yrs experience (based on 60 salaries)',
 'Flipkart\nSoftware Engineer Salary\n1-4 yrs experience (based on 64 salaries)',
 'Walmart\nSoftware Engineer Salary\n1-4 yrs experience (based on 87 salaries)',
 'PayPal\nSoftware Engineer Salary\n1-2 yrs experience (based on 29 salaries)',
 'Myntra\nSoftware Engineer Salary\n1 yr experience (based on 10 salaries)']

In [33]:
com = [i.split('\n', 1)[0] for i in comp]

In [34]:
com

['Google',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Tekion',
 'Amazon',
 'Servicenow Software Development India',
 'Flipkart',
 'Walmart',
 'PayPal',
 'Myntra']

In [35]:
data = pd.DataFrame({'COMPANY NAME': com, 'MINIMUM SALARY': minimum_salary, 'AVERAGE SALARY': a_salary, 'MAXIMUM SALARY': maximum_salary, 'SALARY BASE ON AVERAGE RECORD': average_record})

In [36]:
data.head()

,COMPANY NAME,MINIMUM SALARY,AVERAGE SALARY,MAXIMUM SALARY,SALARY BASE ON AVERAGE RECORD
0,Google,11.0L,31.3L,65.0L,(based on 35 salaries)
1,Microsoft Corporation,13.0L,24.0L,50.0L,(based on 274 salaries)
2,Goldman Sachs,12.0L,23.0L,34.0L,(based on 18 salaries)
3,Tekion,12.0L,21.2L,33.0L,(based on 35 salaries)
4,Amazon,8.0L,21.0L,45.0L,(based on 122 salaries)

In [ ]:
#QUESTION 8

In [98]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [99]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [100]:
url = 'https://www.amazon.in/'
driver.get(url)

In [101]:
search_bar = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")

In [102]:
search_bar.send_keys("Laptop")

In [103]:
search_btn = driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")

In [104]:
search_btn.click()

In [107]:
core = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[11]/span/a/div/label/i")

In [108]:
core.click()

In [109]:
item = driver.find_elements(By.XPATH, "//span[@class = 'a-size-medium a-color-base a-text-normal']")

In [110]:
len(item)

30

In [111]:
items = []
for i in item[:10]:
    items.append(i.text)
len(items)

10

In [75]:
items

['Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms) Full HD IPS Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 11/4 GB Graphics/NVIDIA GeForce RTX 3050 Ti/144 Hz, Black, 2.4 kg) AN515-57',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU']

In [76]:
price = driver.find_elements(By.XPATH, "//span[@class = 'a-price-whole']")

In [77]:
len(price)

30

In [78]:
prices = []

for p in price[:10]:
    prices.append(p.text)
len(prices)

10

In [79]:
prices

['75,990',
 '99,990',
 '89,990',
 '57,890',
 '79,990',
 '75,990',
 '82,990',
 '87,900',
 '39,177',
 '86,990']

In [112]:
urls=driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')

In [113]:
UR = []
for i in urls:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00A06463+2188387]
	Ordinal0 [0x0099E461+1762401]
	Ordinal0 [0x008B3D78+802168]
	Ordinal0 [0x008A7210+750096]
	Ordinal0 [0x008A675A+747354]
	Ordinal0 [0x008A5D3F+744767]
	Ordinal0 [0x008A4C28+740392]
	Ordinal0 [0x008A5228+741928]
	Ordinal0 [0x008AEF2F+782127]
	Ordinal0 [0x008B9FBB+827323]
	Ordinal0 [0x008BD310+840464]
	Ordinal0 [0x008A54F6+742646]
	Ordinal0 [0x008B9BF3+826355]
	Ordinal0 [0x0090CF6D+1167213]
	Ordinal0 [0x008FC5F6+1099254]
	Ordinal0 [0x008D6BE0+945120]
	Ordinal0 [0x008D7AD6+948950]
	GetHandleVerifier [0x00CA71F2+2712546]
	GetHandleVerifier [0x00C9886D+2652765]
	GetHandleVerifier [0x00A9002A+520730]
	GetHandleVerifier [0x00A8EE06+516086]
	Ordinal0 [0x009A468B+1787531]
	Ordinal0 [0x009A8E88+1805960]
	Ordinal0 [0x009A8F75+1806197]
	Ordinal0 [0x009B1DF1+1842673]
	BaseThreadInitThunk [0x7649FA29+25]
	RtlGetAppContainerNamedObjectPath [0x771E7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x771E7A6E+238]

In [114]:
rate = driver.find_elements(By.XPATH, "//i[@class = 'a-icon a-icon-star a-star-4-5']")

In [115]:
len(rate)

5

In [116]:
rating = []
for r in rate:
    rating.append(r.text)
rating

['', '', '', '', '']

In [ ]:
#QUESTION NO 9

In [62]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [63]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [85]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [86]:
job_btn = driver.find_element(By.XPATH, "//a[@class = 'link jobs']")

In [87]:
job_btn.click()

In [88]:
search_bar = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")

In [89]:
search_bar.send_keys('Data Scientist')

In [90]:
search_btn = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")

In [91]:
search_btn.click()

In [92]:
location = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")

In [95]:
des_name = driver.find_elements(By.XPATH, "//a[@class = 'title noclick']")

In [96]:
len(des_name)

10

In [97]:
designation = []
for c in des_name:
    designation.append(c.text)
designation

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)',
 'Data Scientist - NLP']

In [98]:
comp_name = driver.find_elements(By.XPATH, "//p[@class = 'company body-medium']")

In [99]:
len(comp_name)

10

In [100]:
company = []
for c in comp_name:
    company.append(c.text)
company

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting',
 'Acidaes Solutions Pvt. Ltd.']

In [195]:
exp = driver.find_elements(By.XPATH, "//div[@class = 'job-basic-info show-flex']")

In [196]:
len(exp)

11

In [197]:
experience = []
for l in exp:
    experience.append(l.text)
exp=experience[1:11]

In [198]:
exp

['7-12 Yrs\nNot Disclosed\nNoida\nr, python, data science +6 more',
 '7-12 Yrs\n 12-20 LPA\nNoida\nData Science, arima, predictive modeling +5 more',
 '3-8 Yrs\nGurgaon/Gurugram, Bengaluru/Bangalore, Pune +2 more\nData Scientist, Data Science, Machine Learning +5 more',
 '0-4 Yrs\nNoida\nData Science, Machine Learning, Deep Learning +5 more',
 '0-2 Yrs\nNoida\nData Scientist, Data Management, PhD +6 more',
 '3-5 Yrs\nNoida\nData Scientist, Data Management, PhD +5 more',
 '2-6 Yrs\nGurgaon/Gurugram, Delhi NCR, Noida\nData Science, Data Scientist, Data Management +5 more',
 '2-7 Yrs\n 4.75-9.75 LPA\nNoida\nData Science, data science faculty, Corporate Trainer +6 more',
 '15-26 Yrs\nNoida\nMachine Learning, Data Science, Data Scientist +4 more',
 '3-8 Yrs\nNot Disclosed\nNoida\nBayesian Networks, deep learning, MLops +5 more']

In [199]:
experience_required = [i.split('\n', 1)[0] for i in exp]

In [200]:
experience_required

['7-12 Yrs',
 '7-12 Yrs',
 '3-8 Yrs',
 '0-4 Yrs',
 '0-2 Yrs',
 '3-5 Yrs',
 '2-6 Yrs',
 '2-7 Yrs',
 '15-26 Yrs',
 '3-8 Yrs']

In [193]:
top_10_laptops = pd.DataFrame({'DESIGNATION': designation, 'COMPANY NAME':comp_name, 'EXPERIENCE':experience_required})

In [201]:
top_10_laptops

,DESIGNATION,COMPANY NAME,EXPERIENCE
0,Senior Data Scientist,<selenium.webdriver.remote.webelement.WebEleme...,7-12 Yrs
1,Data Scientist- Forecasting and R or Python,<selenium.webdriver.remote.webelement.WebEleme...,7-12 Yrs
2,Data Scientist - Machine Learning Algorithms (...,<selenium.webdriver.remote.webelement.WebEleme...,3-8 Yrs
3,Data Scientist - Machine Learning/Big Data (0-...,<selenium.webdriver.remote.webelement.WebEleme...,0-4 Yrs
4,Info Edge - Data Scientist - Machine Learning/...,<selenium.webdriver.remote.webelement.WebEleme...,0-2 Yrs
5,Info Edge - Senior Data Scientist - Machine Le...,<selenium.webdriver.remote.webelement.WebEleme...,3-5 Yrs
6,LatentBridge - Data Scientist - Python/R (2-6 ...,<selenium.webdriver.remote.webelement.WebEleme...,2-6 Yrs
7,Data Science Trainer | AI | Machine Learning |...,<selenium.webdriver.remote.webelement.WebEleme...,2-7 Yrs
8,Principal Scientist - Machine Learning - IT (1...,<selenium.webdriver.remote.webelement.WebEleme...,15-26 Yrs
9,Data Scientist - NLP,<selenium.webdriver.remote.webelement.WebEleme...,3-8 Yrs

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [10]:
driver = webdriver.Chrome(r"C:\Users\ANSH\Downloads\chromedriver.exe")

In [11]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [12]:
search_bar = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

In [13]:
search_bar.send_keys('i phone11')

In [21]:
submit_btn = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

In [22]:
submit_btn.click()

In [23]:
p_click = driver.find_element(By.XPATH, "//div[@class = '_4rR01T']")

In [24]:
p_click.click()

In [45]:
review_details = driver.find_elements(By.CLASS_NAME, "_2-t-ZTKy")

In [46]:
len(review_details)

0

In [40]:
review_title2 = driver.find_elements(By.XPATH, "//p[@class = '_2-N8zT']")

In [42]:
len(review_title2)

0

In [43]:
review_title3 = driver.find_elements(By.XPATH, "/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/div[4]/div[1]/div/div/div[1]/p")

In [44]:
len(review_title3)

0